<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>@ViewData["Title"] - Halsa Skytterlag</title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/img/favicon.png" rel="icon">
    <link href="~/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/lib/icofont/icofont.min.css" rel="stylesheet">
    <link href="~/lib/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/lib/animate.css/animate.min.css" rel="stylesheet">
    <link href="~/lib/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/lib/venobox/venobox.css" rel="stylesheet">

    <!-- Main CSS File -->
    <link href="~/css/site.css" rel="stylesheet">
</head>
<body>

    <!-- ======= Header ======= -->
    <header id="header">
        <div class="container d-flex">
        <!-- TODO: "Halsa Skytterlag"-logo gets behind the hamburger-icon, fix smaller logo for mobile -->
        <div class="logo mr-auto">
            <h1 class="text-light"><a href="/"><span>Halsa Skytterlag</span></a></h1>
        </div>

        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li class="active"><a href="/">Hjem</a></li>
                <li><a href="/About">Om</a></li>
                <li><a href="mailto:halsa-sa@skytterlag.no">Kontakt oss</a></li>
                <li class="buymeacoffee"><a href="https://www.buymeacoffee.com/halsaskytterlag" target="_blank"><img src="https://img.buymeacoffee.com/button-api/?text=Spons oss med kuler&emoji=🔫&slug=halsaskytterlag&button_colour=de7766&font_colour=000000&font_family=Inter&outline_colour=000000&coffee_colour=FFDD00"></a></li>
            </ul>
        </nav><!-- .nav-menu -->

        </div>
    </header><!-- End Header -->

    @RenderBody()

    <!-- ======= Footer ======= -->
    <footer id="footer">

        <div class="footer-top">
        <div class="container">
        <div class="row">

        <div class="col-lg-3 col-md-6 footer-links">
            <h4>Nyttige Linker</h4>
            <ul>
                <li><i class="bx bx-chevron-right"></i> <a href="/index">Hjem</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="/About">Om</a></li>
            </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Kontaktinformasjon</h4>
            <p>
                Halsa skytterlag<br>
                Åsvangveien 100<br>
                8178 Halsa<br><br>
                <strong>Telefon:</strong> +47 918 74 949<br>
                <strong>Epost:</strong> halsa-sa@skytterlag.no<br>
            </p>
        </div>

        </div>
        </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>Skrypt Åsvang</span></strong>. All Rights Reserved
            </div>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery.easing/jquery.easing.min.js"></script>
    <script src="~/lib/php-email-form/validate.js"></script>
    <script src="~/lib/jquery-sticky/jquery.sticky.js"></script>
    <script src="~/lib/owl.carousel/owl.carousel.min.js"></script>
    <script src="~/lib/waypoints/jquery.waypoints.min.js"></script>
    <script src="~/lib/counterup/counterup.min.js"></script>
    <script src="~/lib/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/lib/venobox/venobox.min.js"></script>


    <!-- Main JS -->
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
